header#main-header {
    height: 60px;
    background: #1d1b1b;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

