.product-info {
    display: flexbox;
    width: 50%;
    height: 50%;
    margin: 20px auto 0;
    padding: 30px;
    background: #444444;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 1px solid #818181;
    border-radius: 2px;
}

.product-info h1 {
    background: #222222;
    margin: 5px;
    padding: 10px;
    border: 1px solid #818181;
    border-radius: 2px;
}

.product-info p {
    margin: 15px;
    padding: 10px;
    background: #504f4f;
}

.product-info a {
    text-decoration:none; 
    color: #ffffff;
}

.product-info a:hover {
    position: static;
    text-decoration: underline;
    color: #ffffff;
    margin: 30px;
    padding: 30px;
    background: #222222;
    border: 3px solid #504f4f;
    border-radius: 2px;
    transition: 0.5s;
    opacity: 0.8;
}